//-
	Форма коментирования



form.comments__form.form
	label( for="comment-author-name" ) Ваше имя
	input#comment-author-name( type="text" )

	label( for="comment-author-email" ) Ваш email
	input#comment-author-email( type="email" )

	label( for="comment-author-site" ) Ваш сайт
	input#comment-author-site( type="text" )

	label( for="comment-author-message" ) Коментарий
	textarea#comment-author-message

	input( type="submit" value="Коментировать" )