-
	var section = {
		name: '',
	};


block variables


section( class="section " + section.name, id=section.name )
	block section
		.section__heading.heading
			block heading
		.section__body.body
			block body
		.section__basement.basement
			block basement