//-
	Элементы формы




h2 Элементы формы


form

	label( for="example-text" ) Метка
	input#example-text( type="text" placeholder="Текст" )

	label Текстовое поле
	textarea#example-textarea

	fieldset
		legend Группа
		label #[input( type="checkbox", name="checkbox" )] флажок 1
		label #[input( type="checkbox", name="checkbox" )] флажок 2
		label #[input( type="checkbox", name="checkbox" )] флажок 3

	fieldset
		legend Группа
		label #[input( type="radio", name="radio" )] радиокнопка 1
		label #[input( type="radio", name="radio" )] радиокнопка 2
		label #[input( type="radio", name="radio" )] радиокнопка 3