




srction.srction

	h2 Списки

	ul
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		li
			span Dolorum, necessitatibus sapiente assumenda, facilis sit aut saepe.
			ul
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li Dolorum, necessitatibus sapiente assumenda, facilis sit aut saepe.
				li Culpa consequuntur consequatur error dicta, excepturi quas ex, consectetur minima odio rem aperiam nihil.

		li Culpa consequuntur consequatur error dicta, excepturi quas ex, consectetur minima odio rem aperiam nihil.


	ol
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		li Dolorum, necessitatibus sapiente assumenda, facilis sit aut saepe.
		li Culpa consequuntur consequatur error dicta, excepturi quas ex, consectetur minima odio rem aperiam nihil.