





h2 Таблицы


table
	tr
		td( rowspan="2" ) Название
		td( colspan="3" ) Операционные системы
		td( rowspan="2" ) Примечание
	tr
		td UNIX
		td Mac OS X
		td Microsoft Windows
	tr
		td Gnumeric
		td Да
		td Да
		td Да
		td Включена в пакет GNOME Office
	tr
		td KSpread
		td Да
		td Да
		td Да
		td Входит в состав KOffice
	tr
		td Lotus 1-2-3
		td Нет
		td Нет
		td Да
		td Впервые выпущенная 26 января 1983 под DOS
	tr
		td Microsoft Excel
		td Нет
		td Да
		td Да
		td Впервые выпущена в 1985 под DOS
	tr
		td Numbers
		td Нет
		td Да
		td Нет
		td Входит в состав iWork
	tr
		td LibreOffice Calc
		td Да
		td Да
		td Да
		td Входит в состав LibreOffice
	tr
		td OpenOffice Calc
		td Да
		td Да
		td Да
		td Входит в состав OpenOffice.org
	tr
		td Google документы
		td Да
		td Да
		td Да
		td Доступна браузерная версия и мобильные приложения
	tr
		td Российский МойОфис
		td Да
		td Да
		td Да
		td Доступна браузерная версия и мобильные приложения