







section.section

	h2 Преподаватели
	
	+person( { foto: src.img+'teachers/01-thumbnail.jpg', thumbnail: src.img+'teachers/01-large.jpg', name: 'Иванов Иван' } )
	+person( { foto: src.img+'teachers/02-thumbnail.jpg', thumbnail: src.img+'teachers/02-large.jpg', name: 'Сидоров Сидор' } )
	+person( { foto: src.img+'teachers/03-thumbnail.jpg', thumbnail: src.img+'teachers/03-large.jpg', name: 'Петров Пётр' } )