extend layout/_index


block variables
	- page.type = 'page';
	- page.title = 'Компонеты и типографика';


block main
	.container
		include examples/_heading
		include examples/_table
		include examples/_lists
		include examples/_teachers
		include examples/_buttons
		include examples/_controls
		include examples/_entry-icon
		include examples/_entry-flat