html
	head
		title Examples
	body
		ul
			li: a( href="examples/home.html" ) Главная
			li: a( href="examples/single.html" ) Пост
			li: a( href="examples/page-promo.html" ) Страница
			li: a( href="examples/page-without-sidebar.html" ) Страница без сайдбара и видео
			li: a( href="examples/about.html" ) О нас
			li: a( href="examples/examples.html" ) Примеры компонентов