//-
	Повал сайта


.container: .row.middle-xs
	.col-xs-12.col-sm-4: p.footer__copyright.copytight #{blog.name} &copy; 2019
	.col-xs-12.col-sm-4: ul.footer__social.social
		li: a.facebook( href="#" ) #[span.sr-only facebook]
		li: a.instagram( href="#" ) #[span.sr-only instagram]
		li: a.twitter( href="#" ) #[span.sr-only twitter]
		li: a.vk( href="#" ) #[span.sr-only vk]
		li: a.youtube( href="#" ) #[span.sr-only youtube]
	.col-xs-12.col-sm-4: p.footer__developer.developer: include ../components/_developer