//-
	Мобильное меню



nav.mobilenav#mobilenav: .container
	.text-right: button.mobilenav__close.close#mobilenav-close
	ul.mobilenav__list.list
		li: a( href="#" ) Главная
		li: a( href="#" ) Новсти
		li: a( href="#" ) Наши учителя
		li: a( href="#" ) Курсы
		li: a( href="#" ) Стоимость
		li: a( href="#" ) Оборудование
		li: a( href="#" ) Условия обучения
		li: a( href="#" ) Контакты