nav.pager
	a.previous.pager__entry.entry( href="#" )
		.thumbnail: img.wp-post-thumbnail.lazy( src="#", data-src=src.img+'gallery/03-thumbnail.jpg' )
		h4.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, fugit repellendus debitis alias quasi quisquam, officia at esse dolor temporibus sit necessitatibus voluptates maxime, pariatur perferendis hic fuga. Alias, amet.
	a.next.pager__entry.entry( href="#" )
		.fancybox.thumbnail: img.wp-post-thumbnail.lazy( src="#", data-src=src.img+'gallery/02-thumbnail.jpg' )
		h4.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, fugit repellendus debitis alias quasi quisquam, officia at esse dolor temporibus sit necessitatibus voluptates maxime, pariatur perferendis hic fuga. Alias, amet.