//-
	Заголовок страницы для постов и постоянных страниц


.pageheader
	h1.title #{page.title}
	p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo aspernatur excepturi temporibus tempora cupiditate nisi, natus expedita, animi beatae minima neque ut, dignissimos pariatur incidunt voluptates unde enim repellendus officiis.