//-
	Заголовок страницы для постов и постоянных страниц


.pageheader
	a.fancybox.thumbnail( href=src.img+'gallery/01-large.jpg' ): img.lazy.wp-post-thumbnail( src="#", data-src=src.img+'gallery/01-thumbnail.jpg', alt=page.title )
	.wrap
		h1.title #{page.title}
		p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo aspernatur excepturi temporibus tempora cupiditate nisi, natus expedita, animi beatae minima neque ut, dignissimos pariatur incidunt voluptates unde enim repellendus officiis.